@{
    ViewData["Title"] = "Home Page";
}

@model ProjectsListViewModel

<h1>The Water Project</h1>

@foreach (Project p in Model.Projects)
{
    <h3>Project Type @p.ProjectType</h3>
    <h3>Regional Program @p.ProgramName</h3>
    <h3>Impact: @p.ProjectImpact</h3>
    <h3>Installation Date @p.ProjectInstallation</h3>
    <h3>Project Phase @p.ProjectPhase</h3>
}



<div page-model="@Model.PaginationInfo" page-action="Index"></div>